*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Image/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover ::after{
    width: 100%;
}
.btnLogIn{
    margin-left: 50px;
    width: 100px;
    height: 50px;
    color: #000;
    font-size: 20px;
    border-radius: 10px;
}
.btnLogIn:hover{
    background-color: rgb(17, 255, 0);
}
.img_login{
    padding: 5px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 90px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 23px;
    color: #fff;
    font-style: italic;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 35px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.btnBuy{
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 35px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    background-color: #f00;
    font-size: 20px;
}
.btnBuy:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* ----- LOGIN ------- */
.wrapper{
    margin-left: 550px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-family: 600;
    padding: 0 35px 0 5px;
    padding-top: 35px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #ffffff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btnLog_in{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background: #b7b7b7;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #000000;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p{
    color: #fff;
}
.login-register p a{
    color: #b6b6b6;
    text-decoration: none;
    font-family: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}

/* ----- Course ------- */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
h1{
    font-size: 50px;
    font-weight: 600;
    color: #000000;
}
p{
    color: #777;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #000000;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* policy */
.policy{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.policy-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.policy-col img{
    width: 100%;
}
.layer{
    font-style: italic;
    color: #fff;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(240, 167, 167, 0.7);
}

/* parameter */
.parameter{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.parameter-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.parameter-col img{
    width: 100%;
    border-radius: 10px;
}
.parameter-col p{
    padding: 0;
    font-size: 13px;
}
.parameter-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
}

/* testimonials */ 
.testimonials{
    width: 85%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 50px;
    width: 55px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
    margin-right: 15px;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
    color: #000;
}
.testimonials-col .fa{
    color: #f44336;
}
@media (max-width: 700px) {
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* Call to action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../Image/contact.jpg);
    background-position: center;   
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
@media (max-width: 700px) {
    .cta h1{
        font-size: 24px;
    }
}

/* fotter Super car*/
.fotter{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.fotter h3{
    color: #000;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}

/* fotter */
footer{
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(rgba(84, 84, 84, 0.7),rgba(86, 86, 86, 0.7)),url(../Image/BACKGROUND-FOOTER-1.jpg);
}
.main-content{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
    margin-right: 100px;
}
.box h2{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 40px;
    text-align: left;
}
.box .content{
    margin: 20px 0 0 0;
}
.box .content p{
    font-style: italic;
    color: white;
}
.logo-content{
    background-color: #fff;
    border-radius: 50%;
    margin-left: 70px;
}


/*LINK*/
.center_box{
    display: flex;
    margin: 40px;
}
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    font-size: 30px;
    margin-top: 40px;
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 60%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}

.contact h2{
    margin-top: 40px;
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 120px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(130% - 60px);
    margin-right: 0 !important;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #000000;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

.about h2{
    margin-top: 40px;
    margin-left: 80px;
}
.about p{
    margin-left: 100px;
    color: white;
}
.social-icon{
    margin-left: 50px;
}






/* price Car */
.product-header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Image/price-car.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}




/* new Car */
.new-header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Image/new-car.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.news_img img{
    width: 95%;
    margin: 40px;
}
.news_title h1{
    font-size: 30px;
    color: blue;
    margin-left: 40px;

}
.image-link {
    background: url('../Image/rangerLife.PNG') no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 98%;
    height: 200px;
    position: relative;
    margin: 20px;
}
  
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
/* banner*/
.banner{
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}

.banner-main-content{
    padding: 0 2rem;
    line-height: 1.7;
}
.banner-main-content h2{
    font-size: 2rem;
    font-family: var(--heading);
}
.banner-main-content h3{
    font-size: 1.3rem;
    padding: 1rem 0;
}
.banner-main-content button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
    border-radius: 5px;
}
.banner-main-content button a{
    text-decoration: none;
    color: #f3f3f3f3;
    transition: color 1s ease;
}
.banner-main-content button:hover{
    background: #00ff40;
}

.banner-main-content button:hover a{
    color: #ff0055;
}
.current-news-head{
    background: #fff;
    padding: 20px;
    font-size: 12px;
    margin: 20px 0;
}
.current-news-head h3{
    font-size: 1rem;
    padding: 15px;
    cursor: pointer;
    position: relative;
}
.current-news-head h3:hover::before{
    content: ">> ";
    position: absolute;
    left: -12px;
}
.current-news-head span{
    display: block;
    font-family: var(--heading);
    font-weight: 300;
    text-transform: uppercase;
}
.hot-topic{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 12px;
    height: 300px;
}
.hot-topic img{
    display: block;
}
.hot-topic-content{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    color: #f3f3f3;
}

.hot-topic h2{
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 0 0 2px #000;
}

.hot-topic h3{
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 0 0 2px #000;
}

.hot-topic p{
    padding: 10px 0;
    font-size: 14px;
    text-shadow: 0 0 2px #000;
    padding: 12px 10px;
    color: #fff;
}

.hot-topic-content a{
    display: block;
    background: #ffffff;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;
    text-decoration: none;
}

.hot-topic-content a:hover{
    text-decoration: underline;
}

.banner-sub-content{
    display: flex;
}
/** main ***/
main{
    border-bottom: 2px solid #afafaf;
}

main a{
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}

main span{
    transition: padding-left 0.5s;
}

main a:hover span{
    padding-left: 5px;
}

main a:hover{
    color: #7ac64d;
}

/* main container left */

.main-container-left{
    padding: 30px 10px;
}

.main-container-left > h2{
    padding: 15px 0 15px 30px;
}

.main-container-left h3{
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--heading);
}

.main-container-left p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-left article{
    padding: 10px;
}

.container-top-left{
    padding: 15px 30px;
}

.container-bottom-left{
    background: #f3f3f3;
    margin: 15px 30px;
}
/*** main container right */

.main-container-right{
    padding: 30px 10px;
}

.main-container-right > h2{
    padding: 15px 0 15px 30px;
}

.main-container-right article{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid #7ac64d;
}

.main-container-right article:last-child{
    border-bottom: none;
}

.main-container-right img{
    width: 100px;
    height: 100px;
    align-self: center;
}

.main-container-right h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    align-self: center;
}

.main-container-right article h2{
    font-size: 18px;
    padding: 10px 0;
    font-family: var(--heading);
}

.main-container-right article p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-right article div{
    margin-right: 10px;
}

@media(max-width: 460px){
    .hot-topic-content h2{
        font-size: 16px;
    }

    .main-container-right article{
        display: block;
    }

    .main-container-right article img{
        display: none;
    }


}

@media(max-width: 500px){
    .main-container-right article{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }

    .main-container-right article h4{
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }

    .main-container-right article img{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .main-container-right article div{
        grid-row: 1/3;
        grid-column: 2/3;
    }
}


@media(min-width: 768px){
    .banner-sub-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
        flex: 0 0 15%;
    }

    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

    .nav-bar nav ul{
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }

    .nav-bar nav ul li:hover{
        background: none;
    }

    /* social icons */
    .social-icons{
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }

    .social-icons .fab{
        color: #fff;
        font-size: 2rem;
    }
    .social-icons ul{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .social-icons ul li{
        padding: 20px;
    }

    .footer-container{
        display: flex;
    }

    .footer-right,
    .footer-left{
        flex: 1;
    }
}

@media(min-width: 992px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1080px){
    .banner{
        grid-template-columns: 1fr 2fr;
    }
}

/* advise Car */
.addvised-header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Image/advise-car.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
.service_container{
    margin-bottom: 100px;
}
.service_title_sub{
    margin-top: 50px;
    text-align: center;
}
.service_title_sub h2{
    margin-top: 50px;
    font-size: 25px;
}

.service_title{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.service_title h3{
    margin-left: 50px;
    font-size: 20px;
    margin-bottom: 50px;
}
.service_title_left_sub_one{
    margin-top: 10px;
    border: 1px solid #999;
    border: none;
    background-color: #efefef;
    border-radius: 5px;
}
.service_title_left_sub_one span{
    padding: 14px;
}
.Image_dvu{
    margin-top: 40px;
}
.Image_dvu h3{
    font-size: 25px;
    text-align: center;
}
.img_dvu_sub img{
    margin-top: 30px;
    margin-left: 30px;
    width: 450px;
    height: 300px;
}
.img_dvu_sub{
    display: flex;
}
.consulting_questions_answers{
    margin-top: 50px;
}
.consulting_questions_answers h3{
    text-align: center;
}
.form_question{
    display: flex;
}
.form_question_left{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.form_question_left input{
    padding: 10px;
    margin-top: 20px;
    width: 600px;
    height: 50px;
    border: none;
    background-color: #efefef;
    border-radius: 5px;
}
.form_question_right{
    margin-top: 20px;
    margin-left: 100px;
}
.form_question_right textarea{
    padding: 15px;
    width: 700px;
    height: 115px;
    border: none;
    background-color: #efefef;
    border-radius: 5px;
}
.form_question_right button{
    margin-top: 20px;
    padding: 15px;
    width: 700px;
    height: 50px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
}